[submodule "backend"]
	path = backend
	url = https://github.com/TianChenjiang/Backend-OASIS.git
[submodule "frontend-user"]
	path = frontend-user
	url = https://github.com/HermitSun/oasis-user.git
[submodule "se3-oasis-scrapy"]
	path = se3-oasis-scrapy
	url = https://github.com/Green-Wood/se3-oasis-scrapy.git
